<div class="table bordered">
  <div class="thead">
      <div class="tr">
          <div class="td">Column 1</div>
          <div class="td">Column 2</div>
          <div class="td">Column 3</div>
          <div class="td">Column 4</div>
      </div>
  </div>
  <div class="tbody">
      <div class="tr">
          <div class="td">Row 1 Column 1</div>
          <div class="td">Row 1 Column 2</div>
          <div class="td">Row 1 Column 3</div>
          <div class="td">Row 1 Column 4</div>
      </div>
      <div class="tr">
          <div class="td">Row 2 Column 1</div>
          <div class="td">Row 2 Column 2</div>
          <div class="td">Row 2 Column 3</div>
          <div class="td">Row 2 Column 4</div>
      </div>
      <div class="tr">
          <div class="td">Row 3 Column 1</div>
          <div class="td">Row 3 Column 2</div>
          <div class="td">Row 3 Column 3</div>
          <div class="td">Row 3 Column 4</div>
      </div>
      <div class="tr">
          <div class="td">Row 4 Column 1</div>
          <div class="td">Row 4 Column 2</div>
          <div class="td">Row 4 Column 3</div>
          <div class="td">Row 4 Column 4</div>
      </div>
      <div class="tr">
          <div class="td">Row 5 Column 1</div>
          <div class="td">Row 5 Column 2</div>
          <div class="td">Row 5 Column 3</div>
          <div class="td">Row 5 Column 4</div>
      </div>
      <div class="tr">
          <div class="td">Row 6 Column 1</div>
          <div class="td">Row 6 Column 2</div>
          <div class="td">Row 6 Column 3</div>
          <div class="td">Row 6 Column 4</div>
      </div>
      <div class="tr">
          <div class="td">Row 7 Column 1</div>
          <div class="td">Row 7 Column 2</div>
          <div class="td">Row 7 Column 3</div>
          <div class="td">Row 7 Column 4</div>
      </div>
      <div class="tr">
          <div class="td">Row 8 Column 1</div>
          <div class="td">Row 8 Column 2</div>
          <div class="td">Row 8 Column 3</div>
          <div class="td">Row 8 Column 4</div>
      </div>
      <div class="tr">
          <div class="td">Row 9 Column 1</div>
          <div class="td">Row 9 Column 2</div>
          <div class="td">Row 9 Column 3</div>
          <div class="td">Row 9 Column 4</div>
      </div>
      <div class="tr">
          <div class="td">Row 10 Column 1</div>
          <div class="td">Row 10 Column 2</div>
          <div class="td">Row 10 Column 3</div>
          <div class="td">Row 10 Column 4</div>
      </div>
  </div>
  
</div>